<ion-header>
  <ion-navbar>
    <ion-title>
      Alle bøker
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewInbox()">
        <ion-icon name="mail"></ion-icon>
      </button>
      <button ion-button icon-start (click)="viewSellBook()">
        <ion-icon name="book"></ion-icon>
        Selg bok
      </button>
      <button ion-button icon-only (click)="doLogout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let ad of adverts | async" (click)="goToAdvertDetails(ad)">
      <img *ngIf="ad.imgUrl != ''" [src]="ad.imgUrl"/>
      <img *ngIf="ad.imgUrl == ''" src="assets/imgs/gradient.jpeg"/>
      <div class="ad-title">{{ad.title}}</div>
      <div class="ad-price">{{ad.book.price | currency:'NOK' }}</div>
      <div class="ad-seller">Solgt av: {{ad.seller | stripEmail}} - nær {{ad.location}}</div>
    </ion-card>
</ion-content>
